<!doctype html>
<head>
    <title>Battles of Game Of Thrones</title>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.12.3.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
    <table id="lista" class="display" cellspacing="0" width="100%" border="1px solid #000000">
        <thead>
            <tr>
                <th>id</th>
				<th>name</th>
				<th>year</th>
				<th>battle_number</th>
				<th>attacker_king</th>
				<th>defender_king</th>
				<th>attacker_1</th>
				<th>attacker_2</th>
				<th>attacker_3</th>
				<th>attacker_4</th>
				<th>defender_1</th>
				<th>defender_2</th>
				<th>defender_3</th>
				<th>defender_4</th>
                <th>attacker_outcome</th>
                <th>battle_type</th>
                <th>major_death</th>
                <th>major_capture</th>
                <th>attacker_size</th>
                <th>defender_size</th>
                <th>attacker_commander</th>
                <th>defender_commander</th>
                <th>summer</th>
                <th>location</th>
                <th>region</th>
                <th>note</th>

            </tr>
        </thead>
    </table>
    
    <div id="piechart" style="width: 900px; height: 500px;"></div>
</body>
</html>