<!doctype html>
<head>
    <title>POKEMONS</title>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.12.3.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
    <table id="lista" class="display" cellspacing="0" width="100%" border="1px solid #000000">
        <thead>
            <tr>
                <th>id</th>
				<th>name</th>
				<th>allegiances</th>
				<th>death_year</th>
				<th>book_of_death</th>
				<th>death_chapter</th>
				<th>book_intro_chapter</th>
				<th>gender</th>
				<th>nobility</th>
				<th>got</th>
				<th>cok</th>
				<th>sos</th>
				<th>ffc</th>
				<th>dwd</th>
            </tr>
        </thead>
    </table>
    
    <div id="piechart" style="width: 900px; height: 500px;"></div>
</body>
</html>